@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["Message"]</p>

<address>
    <strong>More Information: </strong> <a href="thalleslima8@gmail.com">Email</a>

</address>

